<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Notify-Mapper">

	<sql id="search">
		<if test="searchType == 'i'.toString()">
			and member_id like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'e'.toString()">
			and notify_enabled like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'c'.toString()">
			and notify_content like '%'||#{keyword}||'%'
		</if>
	</sql>

	<select id="selectSearchNotifyList" resultType="notify">

		select *
		from notify
		<include refid="search" />
		order by notify_enabled desc, notify_date desc
	</select>

	<select id="selectSearchNotifyListCount" resultType="int">
		select
		count(*)
		from notify
		where notify_num is not null
		order by notify_enabled
		desc, notify_date desc

	</select>

	<select id="selectNotifyByNotify_num" parameterType="int"
		resultType="notify">
		select
		*
		from notify
		where notify_num=#{notify_num}
	</select>

	<select id="selectNotifySequenceNextValue" resultType="int">
		select
		notify_seq.nextVal
		from dual
	</select>

<!-- 	<select id="">
		select 'writing_num' as col_name, writing_num as data_name, count(*) as data_count
		from notify
		where writing_num is not null
		group by writing_num
		union all
		select 'fun_num' as col_name, fun_num as data_name, count(*) as data_count
		from notify
		where fun_num is not null
		group by fun_num
		union all
		select 'reply_num' as col_name, reply_num as data_name, count(*) as data_count
		from notify
		where reply_num is not null
		group by reply_num
		order by data_count DESC;
	</select> -->

	<update id="answerNotify" parameterType="int">
		update notify
		set
		notify_enabled = 1, notify_answerdate=sysdate
		where
		notify_num=#{notify_num};
	</update>

	<update id="insertNotify" parameterType="notify">
		insert into
		notify(notify_num,member_id,notify_content,writing_num,reply_num,fun_num)
		values(#{notify_num},#{member_id},#{notify_content},#{writing_num},#{reply_num},#{fun_num})
	</update>

	<update id="updateNotify" parameterType="notify">
		update notify
		set
		notify_content=#{notify_content}
		where notify_num=#{notify_num}
	</update>

	<update id="deleteNotify" parameterType="int">
		delete
		from notify
		where
		notify_num=#{notify_num}
	</update>
</mapper>